extends layout

block content
    h1 Page Not Found
        p Sorry! Page not found, please click on home button.
         br
         img(src='https://media.giphy.com/media/QIKy1Gs9r88iQ/giphy.gif' alt='gif' width='700px')
        br
        p
        a.button(href='/books/page/0') Home